@import url('https://googleapis.com');
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

#viewport, #content-container {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-variant-ligatures: contextual;
  font-feature-settings: "liga", "calt";
}

#content-container div {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #eee; 
  padding-left: 10px;
}